@import "vars.scss";
@import "bootstrap/scss/bootstrap.scss";

.mt-2-rem {
    margin-top: 2rem;
}

.text-header {
    color: whitesmoke;
}

.text-highlight {
    color: #BBA6E8;
}

.text-main-color,
.text-main-color a {
    color: #AF9BD9;
}

.text-main-color a:hover {
    color: whitesmoke;
}

a.nav-selected,
a.nav-selected:hover {
    color: whitesmoke;
    border-bottom: 4px solid white;
}
.navbar .container-fluid {
    padding-right: 0px;
}

.navbar a {
    margin-right: 0px;
    margin-left: var(--bs-navbar-brand-margin-end);
}